version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: inventory_db_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Al-Ga1988
      POSTGRES_DB: inventory_db
      TZ: Asia/Jakarta
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    name: inventory_pgdata
